---
import MainLayout from "../layouts/MainLayout.astro";
import IndexHero from "../components/IndexHero.astro";
import CTACard from "../components/CTACard.astro";
import ShowroomBlock from "../components/ShowroomBlock.astro";
import ProductCardCarousel from "../components/ProductCardCarousel.astro";
---

<MainLayout title="Tusindfryd – Design, kvalitet og unikke fund">
  <main>
    <IndexHero image="img/index_hero.webp" />
    <ProductCardCarousel
      title="Nyeste drop"
      category="Ny"
      arrowLinkHref="/shop/nyheder"
      limit={8}
    />

    <section
      class="CTACards bg-white relative z-10 px-container-mobile py-3xl md:px-container md:py-section"
    >
      <div class="flex flex-col md:flex-row md:justify-center gap-s">
        <CTACard
          image="img/about_cta.webp"
          href="/about"
          label="Om Tusindfryd"
        />
        <CTACard
          image="img/member_cta.webp"
          href="/bliv-medlem"
          label="Bliv medlem og få fordele"
        />
      </div>
    </section>

    <ProductCardCarousel
      title="Vores favoritter"
      category="Favorit"
      arrowLinkHref="/shop/alt"
      limit={8}
    />

    <section class="pb-3xs md:pb-2xs bg-white relative z-10">
      <ShowroomBlock
        image="img/showroomblock_index.webp"
        imageAlt="Billede af Tusindfryds showroom"
        address="Trindsøvej 10 st 8000 Aarhus C"
      />
    </section>

    <video
      src="/vid/værksted.mp4"
      autoplay
      muted
      loop
      playsinline
      class="relative left-1/2 w-screen -translate-x-1/2 block h-[500px] md:h-[700px] object-cover"
    ></video>
  </main></MainLayout
>
