---
import MainLayout from "../layouts/MainLayout.astro";
import IndexHero from "../components/IndexHero.astro";
import CTACard from "../components/CTACard.astro";
import ShowroomBlock from "../components/ShowroomBlock.astro";
---

<MainLayout title="Tusindfryd – Design, kvalitet og unikke fund">
  <main>
    <IndexHero image="https://placehold.co/1512x808" />
    <section class="CTACards">
      <div class="flex flex-col md:flex-row md:justify-center gap-4 md:gap-5">
        <CTACard
          image="https://placehold.co/375x630"
          href="/om"
          label="Om Tusindfryd"
        />
        <CTACard
          image="https://placehold.co/375x630"
          href="/bliv-medlem"
          label="Bliv medlem og få fordele"
        />
      </div>
    </section>

    <section>
      <ShowroomBlock
        image="https://placehold.co/1512x808"
        imageAlt="Billede af Tusindfryds showroom"
        address="Trindsøvej 10 st 8000 Aarhus C"
      />
    </section>
  </main></MainLayout
>
