---
import Text from "./Text.astro";

const {
  image = "https://placehold.co/375x630",
  href = "#",
  label = "CTA Label",
} = Astro.props;
---

<a
  href={href}
  class="w-full md:w-[375px] relative overflow-hidden h-[549px] md:h-[665px] bg-gray-200 block group"
>
  <img
    src={image}
    alt={label}
    loading="lazy"
    class="absolute inset-0 w-full h-full object-cover transition-transform duration-700 ease-in-out group-hover:scale-105"
  />
  <div class="absolute bottom-0 left-0 w-full px-2.5 pb-2.5">
    <Text
      teksttype="p_medium"
      color="text-white"
      stylingclasses="py-0.5 border-b border-white transition-opacity duration-300 group-hover:opacity-70 w-fit"
    >
      {label}
    </Text>
  </div>
</a>
