---
import Text from "./Text.astro";
import Heading from "./Heading.astro";
import Link from "./Link.astro";
import Button from "./Button.astro";
---

<footer class="bg-white border-t border-gray-200">
  <div class="grid grid-cols-12">
    <!-- Left: logo + membership CTA -->
    <div
      class="col-span-12 lg:col-span-4 px-container-mobile py-2xl flex flex-col gap-m lg:pl-container lg:pr-m"
    >
      <a href="/">
        <img
          src="/img/logo_word.png"
          alt="Tusindfryd"
          class="h-[12px] w-auto"
        />
      </a>

      <div class="flex flex-col gap-2xs">
        <Text teksttype="p_medium" color="text-gray-700">
          Bliv medlem og spar 10% på ALT
        </Text>
        <Text teksttype="p_large" color="text-gray-700">
          Køb medlemsskab for kun 279 DKK årligt og få altid 10% på alle ordrer
          og mange andre fordele.
        </Text>
      </div>

      <Button
        variant="secondary"
        href="/bliv-medlem"
        teksttype="p_xsmall"
        stylingclasses="h-11 flex justify-between items-center"
      >
        Bliv medlem
        <span class="font-helv text-sm">→</span>
      </Button>
    </div>

    <!-- Showroom -->
    <div
      class="col-span-12 lg:col-span-2 px-container-mobile py-2xl border-t border-gray-200 lg:border-t-0 lg:border-l flex flex-col gap-m lg:px-m"
    >
      <Heading type="h4" htmlheading="h4" stylingclasses="text-gray-700"
        >Showroom</Heading
      >
      <div class="flex flex-col gap-2xs">
        <Link
          teksttype="p_large"
          color="text-gray-700"
          href="https://www.google.com/maps/dir/?api=1&destination=Trindsøvej+10,+8000+Århus+C"
          >Trindsøvej 10,<br />8000 Århus C</Link
        >
        <Text teksttype="p_large" color="text-gray-700">Tirsdag kl 11-15</Text>
        <Text teksttype="p_large" color="text-gray-700">Torsdag kl 14-18</Text>
        <Text teksttype="p_large" color="text-gray-700">Lørdag kl 10-15</Text>
      </div>
    </div>

    <!-- Kontakt os -->
    <div
      class="col-span-12 lg:col-span-2 px-container-mobile py-2xl border-t border-gray-200 lg:border-t-0 lg:border-l flex flex-col gap-m lg:px-m"
    >
      <Heading type="h4" htmlheading="h4" stylingclasses="text-gray-700"
        >Kontakt os</Heading
      >
      <div class="flex flex-col gap-2xs">
        <Link
          teksttype="p_large"
          color="text-gray-700"
          href="mailto:info@tusindfryd.io"
        >
          E-mail: info@tusindfryd.io
        </Link>
        <Text teksttype="p_large" color="text-gray-700">
          Alle henvendelser bliver besvaret indenfor 24 timer.
        </Text>
      </div>
    </div>

    <!-- Juridisk -->
    <div
      class="col-span-12 lg:col-span-2 px-container-mobile py-2xl border-t border-gray-200 lg:border-t-0 lg:border-l flex flex-col gap-m lg:px-m"
    >
      <Heading type="h4" htmlheading="h4" stylingclasses="text-gray-700"
        >Juridisk</Heading
      >
      <div class="flex flex-col gap-2xs">
        <Link teksttype="p_large" color="text-gray-700" href="/about">
          Om Tusindfryd
        </Link>
        <Link
          teksttype="p_large"
          color="text-gray-700"
          href="/juridisk#ombytning"
        >
          Ombytnings- & returret
        </Link>
        <Link
          teksttype="p_large"
          color="text-gray-700"
          href="/juridisk#returpolitik"
        >
          Returpolitik
        </Link>
        <Link
          teksttype="p_large"
          color="text-gray-700"
          href="/juridisk#privatlivspolitik"
        >
          Privatlivspolitik
        </Link>
        <Link
          teksttype="p_large"
          color="text-gray-700"
          href="/juridisk#handelsbetingelser"
        >
          Handelsbetingelser
        </Link>
      </div>
    </div>

    <!-- Sociale medier -->
    <div
      class="col-span-12 lg:col-span-2 px-container-mobile py-2xl border-t border-gray-200 lg:border-t-0 lg:border-l flex flex-col gap-m lg:px-m"
    >
      <Heading type="h4" htmlheading="h4" stylingclasses="text-gray-700"
        >Sociale medier</Heading
      >
      <div class="flex flex-col gap-2xs">
        <Link
          teksttype="p_large"
          color="text-gray-700"
          href="https://www.instagram.com/tusindfryds_/"
          target="_blank">Instagram</Link
        >
        <Link teksttype="p_large" color="text-gray-700" href="#">Facebook</Link>
        <Link teksttype="p_large" color="text-gray-700" href="#">Tiktok</Link>
        <Link teksttype="p_large" color="text-gray-700" href="#">Pinterest</Link
        >
      </div>
    </div>
  </div>
</footer>
