---
import Text from "./Text.astro";
import Heading from "./Heading.astro";

interface Props {
  navn: string;
  jobbeskrivelse: string;
  billede: string;
}

const { navn, jobbeskrivelse, billede } = Astro.props;
---

<div
  class="flex flex-col gap-xs w-full max-w-[300px] md:max-w-none md:h-[497px]"
>
  <img
    src={billede}
    alt={navn}
    class="w-full object-cover object-top aspect-[3/4] md:aspect-auto md:flex-1 md:min-h-0"
  />
  <div class="flex flex-col gap-2xs">
    <Heading type="h3">{navn}</Heading>
    <Text teksttype="p_medium" stylingclasses="text-gray-500"
      >{jobbeskrivelse}</Text
    >
  </div>
</div>
