---
import Text from "./Text.astro";

interface Props {
  navn: string;
  jobbeskrivelse: string;
  billede: string;
}

const { navn, jobbeskrivelse, billede } = Astro.props;
---

<div class="flex flex-col gap-2 w-full max-w-[300px] md:max-w-none md:h-[497px]">
  <img
    src={billede}
    alt={navn}
    class="w-full object-cover object-top aspect-[3/4] md:aspect-auto md:flex-1 md:min-h-0"
  />
  <div class="flex flex-col gap-0.5">
    <Text teksttype="statement_medium">{navn}</Text>
    <Text teksttype="statement_medium" stylingclasses="!text-[12px] opacity-60"
      >{jobbeskrivelse}</Text
    >
  </div>
</div>
