---
const {
  teksttype = "p_medium",
  stylingclasses = "",
  color = "text-black",
  id,
} = Astro.props;

const baseClasses = color;

const textClasses = {
  p_xsmall: "font-helv font-normal text-[12px] leading-[14.3px]",
  p_small: "font-helv font-normal text-[13px]",
  p_medium: "font-helv font-normal text-[14px]",
  p_large: "font-helv font-light text-[14px] leading-[17px]",

  statement_small: "font-mont font-normal text-[12px]",
  statement_medium: "font-mont font-normal text-[14px] leading-[20px]",
  statement_bolder: "font-mont font-medium text-[14px]",
  statement_large:
    "font-mont font-normal text-[20px] leading-[26px] md:text-[30px] md:leading-[36px]",

  price_small: "font-ibm font-normal text-[12px]",
  price_large: "font-ibm font-normal text-[14px]",
};

const selectedClasses =
  textClasses[teksttype as keyof typeof textClasses] ?? textClasses.p_medium;
---

<p id={id} class:list={[baseClasses, selectedClasses, stylingclasses]}>
  <slot />
</p>
