---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
const { title, showFooter = true, noLenis = false } = Astro.props;
---

<html lang="da" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/svg/logo-icon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      defer
      src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"
    ></script>
  </head>
  <body class="max-w-[1600px] mx-auto bg-white antialiased">
    <Header />

    <slot />

    {showFooter && <Footer />}
  </body>
</html>

<script define:vars={{ noLenis }} is:inline>
  window.__noLenis = noLenis;
</script>

<script>
  import Lenis from "lenis";
  if (!(window as any).__noLenis) {
    const lenis = new Lenis({
      duration: 0.8,
      easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
    });
    function raf(time: number) {
      lenis.raf(time);
      requestAnimationFrame(raf);
    }
    requestAnimationFrame(raf);
  }
</script>
